.c-tabs {
    --nutui-tabs-tab-line-height: 6px;
    --nutui-tabs-tab-line-width: 60px;
    --nutui-tabs-titles-item-color: #666666;
    --nutui-tabs-titles-item-active-color: var(--my-theme-color);
    --nutui-tabs-titles-font-size: 32px;
    --nutui-tabs-titles-background-color: #ffffff;
    --nutui-tabs-line-bottom: 0%;
}
