:root,
page {
    background: #f2f2f2;
}

.index {
    .navbar-title {
        font-size: 36px;
        color: #ffffff;
    }

    .account-card {
        width: 686px;
        height: 415px;
        background: linear-gradient(188deg, #e9f8ff 0%, #ffffff 100%);
        border: 6px solid #ffffff;
    }
}
